<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <title>Document</title>
</head>
<body>
  <div>
    <form ng-controller="TaskController as taskCtrl">
      <input ng-model="task"/>
			<button ng-click="addTask(task)">Add Task</button><br/>
			<div class="checkbox" ng-repeat="task in taskList">
				<label><input type="checkbox" ng-model= "task.done"><strong>{{task.todo}}</strong>  @:{{task.createdOn|date}}</label>
			</div><br/>
			<button ng-click="remove()">remove task</button>
    </form>
  </div>
  <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <script type='text/javascript' src = "./app.js"></script>
</body>
</html>